h1 {
    display: flex;
    justify-content: space-between;
    padding: 1.25em 1em 1.5em;
    align-items: center;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 20px;
    margin: 10px 0;
  }

  h4 {
    font-weight: 400;
  }
  

  h5 {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  .Keep Well logo {
    margin-left: 5%;
  }
  
  .logo-text {
    color: #f3f0f0;
    font-size: 80px;
    font-weight: bold;
    text-decoration-line: none;
    text-align: center;
  }
  
  .header-search {
    display: flex;
    align-items: center;
    margin-right: 5%;
  }
  
  .global-search{
    align-items: center;
    display: flex;
  }
  
  .header-search-input {
    width: 250px;
    height: 40px;
    color: #666;
    margin-right: -10px;
    padding-left: 1em;
    padding-right: 1em;
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 1em 0 0 1em;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid #666;
    cursor: pointer;
    font-size: larger;
  }
  
  .header button {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    cursor: pointer;
  }
  
  nav {
    position: relative;
    display: block;
    font-size: 1.25em;
  }
  
  nav ul {
    display: flex;
    list-style-type: none;
    height: 64px;
  }
  
  nav li {
    text-align: center;
  }
  
  .nav a {
    height: 100%;
    box-shadow: 0 0.2rem 0.85rem rgba(0, 0, 0, 0.2);
    background: rgba(167, 146, 146, 0.651);
    text-decoration-line: none;
    color: #fffffff1;
    background-color: #000000;
    padding: 0.5rem 0.75rem;
    border: 1px solid transparent;
    display: flex;
    transition: 0.2s ease;
    border-radius: 50px;
  }
  
  .nav .active,
  .nav a:hover {
    background-color: #000000;
  }
  
  .title {
    background-color: #f1f5f2;
    align-items: center;
    color: #fff;
    padding-inline: 27%;
    margin-inline: -10px;
  }